/*
************
*************************
23. recent
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.ns-recent {
  &-item {
    text-align: center;
    position: relative;
    z-index: 1;
    &-img {
      position: relative;
      z-index: 1;
      display: inline-block;
      margin-bottom: 20px;
      img {
        width: 206px;
        height: 206px;
        border-radius: 50%;
        border: 10px solid #fff;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.07);
      }
      span {
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
        width: 55px;
        height: 55px;
        background: var(--clr-common-black);
        color: #fff;
        font-size: 17px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        z-index: 1;
        @include transition(.3s);
      }
    }
    &-shape {
      &-1 {
        position: absolute;
        top: 55px;
        right: -70px;
        z-index: 1;
        @media #{$md, $xs}{
          display: none;
        }
        @media #{$sm}{
          display: block;
        }
      }
      &-2 {
        position: absolute;
        top: 100px;
        right: -70px;
        z-index: 1;
        @media #{$md, $xs}{
          display: none;
        }
      }
      &-3 {
        position: absolute;
        top: 15px;
        right: -100px;
        z-index: 1;
        @media #{$md, $xs}{
          display: none;
        }
        @media #{$sm}{
          display: block;
        }
      }
    }
  }
}
.ns-recent-item-content {
  padding: 0 25px;
  @media #{$lg}{
    padding: 0 10px;
  }
  .ns-recent-title {
    font-size: 25px;
    margin-bottom: 10px;
    &:hover a {
        color: var(--clr-theme-primary);
    }
    @media #{$lg}{
      font-size: 22px;
    }
    @media #{$xs}{
      font-size: 22px;
    }
  }
  p {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 3px;
    @media #{$lg, $xs}{
      font-size: 16px;
    }
  }
}
.ns-recent-item-img .ns-recent-count-2 {
    top: 15px;
    transform: none;
    left: 10px;
}
.ns-recent-item:hover {
    .ns-recent-item-img span {
        background-color: var(--clr-theme-primary);
    }
}