/*
************
*************************
18. blog details
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.ns-blog-details-title {
	font-size: 36px;
	line-height: 1.2;
  @media #{$xs} {
    font-size: 28px;
  }
  @media #{$sm} {
    font-size: 32px;
  }
}
.ns-blog-details-meta li {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 15px;
  margin-right: 15px;
  padding-right: 10px;
  &::after {
      position: absolute;
      top: 4px;
      right: -5px;
      z-index: 1;
      content: "";
      width: 1px;
      height: 12px;
      background-color: #ddd;
  }
  &:last-child {
    margin-right: 0;
    padding-right: 0;
    &::after {
      display: none;
    }
  }
}
.ns-blog-details-meta li i {
  font-size: 15px;
  color: var(--clr-theme-primary);
  margin-right: 10px;
}
.ns-blog-details-meta {
  margin-bottom: 10px;
}
.ns-blog-details-banner-img {
  width: 100%;
  margin-bottom: 25px;
}
.ns-blog-details-content {
  border-bottom: 1px solid #ddd;
  margin-bottom: 45px;
  padding-bottom: 27px;
}
.ns-blog-details-content p {
  font-size: 17px;
  margin-bottom: 15px;
}
.ns-client-review-title {
  font-size: 22px;
  margin-bottom: 25px;
}
.ns-blog-detials-quote {
  background-color: #f4f5f9;
  padding: 25px 30px 25px;
  position: relative;
  margin-bottom: 35px;
  @media #{$xs}{
    padding: 25px 20px 25px;
  }
}
.ns-blog-detials-quote p {
  font-size: 17px;
  font-style: italic;
  margin-bottom: 13px;

}
.ns-quote-admin h5 {
  font-size: 22px;
  margin-bottom: 2px;
}
.ns-quote-icon {
  position: absolute;
  display: inline-block;
  font-size: 54px;
  color: var(--clr-theme-primary);
  right: 30px;
  bottom: 0;
}
.ns-blog-details-client-review-text {
  font-size: 17px;
  margin-bottom: 97px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}
.ns-blog-details-comment-title {
  font-size: 22px;
  margin-bottom: 45px;
}
.ns-blog-details-comment-item {
  display: flex;
  gap: 20px;
  @media #{$xs}{
    flex-direction: column;
    align-items: flex-start;
  }
  @media #{$sm}{
    flex-direction: row;
  }
}
.ns-comment-border {
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  margin-bottom: 40px;
}
.ns-blog-details-comment-item-img {
  width: 90px;
  flex: 0 0 90px;
  height: 90px;
  border-radius: 50%;
}
.ns-blog-details-comment-item-img img {
  width: 100%;
}
.ns-comment-title {
  font-size: 22px;
  margin-bottom: 5px;
}
.ns-blog-details-comment-item-content p {
  margin-bottom: 10px;
}
.ns-blog-details-comment-meta span {
  display: inline-block;
  font-size: 17px;
  margin-right: 50px;
  @media #{$xs}{
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  @media #{$sm}{
    display: inline-block;
    margin-bottom: 0;
    margin-right: 50px;
  }
}
.ns-blog-details-comment-meta a {
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  color: var(--clr-theme-primary);
}
.ns-blog-details-comment {
  margin-bottom: 90px;
}
.ns-blog-details-contact-title {
  font-size: 35px;
  margin-bottom: 15px;
}
.ns-blog-details-contact p {
  font-size: 17px;
  margin-bottom: 27px;
}
.ns-blog-details-contact form input ,
.ns-blog-details-contact form textarea {
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  color: var(--clr-body-text);
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0 25px;
}
.ns-blog-details-contact form textarea {
  height: 150px;
  margin-bottom: 30px;
}
.ns-theme-btn.ns-blog-details-btn {
	border-radius: 5px;
}
.ns-blog-details-widget-search form {
  position: relative;
  z-index: 1;
}
.ns-blog-details-widget-search form input {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 0 20px;
  font-size: 17px;
  color: var(--clr-body-text);
}
.ns-blog-details-widget-search form button {
  position: absolute;
  right: 4px;
  top: 4px;
  border: none;
  background: var(--clr-theme-primary);
  font-size: 17px;
  color: #fff;
  width: 42px;
  height: 42px;
  &:hover {
      background-color: var(--clr-common-black);
  }
}
.ns-blog-details-widget {
  padding: 25px 30px 30px;
  border: 1px solid #ddd;
}
.ns-blog-details-widget-title {
  font-size: 22px;
  margin-bottom: 25px;
}
.ns-blog-details-widget-post {
    display: flex;
    gap: 15px;
  }
.ns-blog-details-post-img {
  width: 95px;
  flex: 0 0 95px;
  @media #{$xs}{
    flex: 0 0 65px;
    width: 65px;
  }
  @media #{$sm}{
    flex: 0 0 95px;
    width: 95px;
  }
}
.ns-blog-details-post-content span {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
}
.ns-blog-details-post-content span i {
  font-size: 13px;
  color: var(--clr-theme-primary);
  margin-right: 10px;
}
.ns-blog-details-post-content-title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  &:hover a {
      color: var(--clr-theme-primary);
  }
  @media #{$xs}{
    font-size: 15px;
  }
  @media #{$sm}{
    font-size: 16px;
  }
}
.ns-blog-details-widget-post {
  margin-bottom: 30px;
  &:last-child {
      margin-bottom: 0;
  }
}
.ns-blog-details-category-list li {
  display: block;
  margin-bottom: 10px;
  &:last-child {
      margin-bottom: 0;
  }
}
.ns-blog-details-category-list li a {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-left: 30px;
  &:hover {
      color: var(--clr-theme-primary);
  }
}
.ns-blog-details-category-list li a span {
  display: inline-block;
}
.ns-blog-details-category-list li a::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '\f30b';
  font-family: "Font Awesome 5 Pro";
  font-size: 17px;
  font-weight: 500;
}
.ns-blog-details-tag a {
    font-size: 17px;
    display: inline-grid;
    place-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
    padding: 0 20px;
    margin-bottom: 10px;
    margin-right: 5px;
    &:hover {
        background-color: var(--clr-theme-primary);
        color: #fff;
        border-color: transparent;
    }
    @media #{$xs}{
      padding: 0 15px;
    }
    @media #{$sm}{ 
      padding: 0 20px;
    }
  }
  .ns-blog-details-widget.ns-tag {
	padding-bottom: 15px;
}
.ns-blog-details-comment-item.ml-130 {
  @media #{$lg}{
    margin-left: 80px;
  }
  @media #{$xs}{
    margin-left: 0;
  }
  @media #{$sm}{
    margin-left: 50px;
  }
}